<section class="mdc-area mdc-area-nospace">
    <div class="widget mdc-widget-slider-03">
        <div class="widget-content">
            <div class="slider-pro slider-pro-3">
                <div class="sp-slides"> 
                    <div class="sp-slide mdc-slide-rgba">
                        <div class="sp-image-container">
                        <img class="sp-image sp-image-bg" src="images/blank.gif"
                        data-src="images/87.jpg"
                        data-retina="images/87.jpg" alt="" /></div>
                        <p class="sp-layer sp-txt-2" data-horizontal="90" data-vertical="135" data-show-transition="right" data-show-delay="400" data-hide-delay="300" data-show-duration="800" data-hide-duration="800">Creating Vibrant Smile </p>
                        <p class="sp-layer sp-txt-2" data-horizontal="90" data-vertical="185" data-show-transition="left" data-show-delay="800" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">for Healthy</p>
                        <p class="sp-layer sp-txt-3" data-horizontal="90" data-vertical="245" data-show-transition="up" data-show-delay="1200" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">Dental anesthesia is a field of anesthesia that includes not only local</p>
                        <p class="sp-layer sp-txt-3" data-horizontal="90" data-vertical="270" data-show-transition="up" data-show-delay="1200" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">but sedation and general anesthesia.</p>
                        <p class="sp-layer sp-link-3" data-horizontal="90" data-vertical="315" data-show-transition="bottom" data-hide-transition="bottom" data-show-delay="2400" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">
                            <a href="#">Read more</a>
                        </p>
                        <p class="sp-layer sp-txt-7" data-horizontal="185" data-vertical="0" data-position="bottomRight" data-show-transition="right" data-show-delay="1300" data-hide-delay="300" data-show-duration="800" data-hide-duration="800"><img src="images/11.png" alt=""></p>
                    </div>
                    <div class="sp-slide mdc-slide-rgba">
                        <div class="sp-image-container">
                        <img class="sp-image sp-image-bg" src="images/blank.gif"
                        data-src="images/87.jpg"
                        data-retina="images/87.jpg" alt="" /></div>
                        <p class="sp-layer sp-txt-2" data-horizontal="90" data-vertical="135" data-show-transition="right" data-show-delay="400" data-hide-delay="300" data-show-duration="800" data-hide-duration="800">Creating Vibrant Smile </p>
                        <p class="sp-layer sp-txt-2" data-horizontal="90" data-vertical="185" data-show-transition="left" data-show-delay="800" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">for Healthy</p>
                        <p class="sp-layer sp-txt-3" data-horizontal="90" data-vertical="245" data-show-transition="up" data-show-delay="1200" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">Dental anesthesia is a field of anesthesia that includes not only local</p>
                        <p class="sp-layer sp-txt-3" data-horizontal="90" data-vertical="270" data-show-transition="up" data-show-delay="1200" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">but sedation and general anesthesia.</p>
                        <p class="sp-layer sp-link-3" data-horizontal="90" data-vertical="315" data-show-transition="bottom" data-hide-transition="bottom" data-show-delay="2400" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">
                            <a href="#">Read more</a>
                        </p>
                        <p class="sp-layer sp-txt-7" data-horizontal="185" data-vertical="0" data-position="bottomRight" data-show-transition="right" data-show-delay="1300" data-hide-delay="300" data-show-duration="800" data-hide-duration="800"><img src="images/11.png" alt=""></p>
                    </div>
                    <div class="sp-slide mdc-slide-rgba">
                        <div class="sp-image-container">
                        <img class="sp-image sp-image-bg" src="images/blank.gif"
                        data-src="images/87.jpg"
                        data-retina="images/87.jpg" alt="" /></div>
                        <p class="sp-layer sp-txt-2" data-horizontal="90" data-vertical="135" data-show-transition="right" data-show-delay="400" data-hide-delay="300" data-show-duration="800" data-hide-duration="800">Creating Vibrant Smile </p>
                        <p class="sp-layer sp-txt-2" data-horizontal="90" data-vertical="185" data-show-transition="left" data-show-delay="800" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">for Healthy</p>
                        <p class="sp-layer sp-txt-3" data-horizontal="90" data-vertical="245" data-show-transition="up" data-show-delay="1200" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">Dental anesthesia is a field of anesthesia that includes not only local</p>
                        <p class="sp-layer sp-txt-3" data-horizontal="90" data-vertical="270" data-show-transition="up" data-show-delay="1500" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">but sedation and general anesthesia.</p>
                        <p class="sp-layer sp-link-3" data-horizontal="90" data-vertical="315" data-show-transition="bottom" data-hide-transition="bottom" data-show-delay="2400" data-hide-delay="300" data-show-duration="1000" data-hide-duration="1000">
                            <a href="#">Read more</a>
                        </p>
                        <p class="sp-layer sp-txt-7" data-horizontal="185" data-vertical="0" data-position="bottomRight" data-show-transition="right" data-show-delay="1300" data-hide-delay="300" data-show-duration="800" data-hide-duration="800"><img src="images/11.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="loading-slider">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-nospace">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget mdc-widget-service-home3">
                    <div class="widget-content">
                        <div class="row mdc-custom-row-nospace">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-right">
                                        <i class="glyph-icon flaticon-shapes"></i>
                                    </div>
                                    <div class="entry-content">
                                        <div class="mdc-wrap">
                                        <span class="mdc-number-order">01</span>
                                        <h3 class="entry-title"><a href="#">Cardiology</a></h3></div>
                                        <p>Aliquam sit amet porttitor ex, sit amet pellentesque nibh. Praesent viverra dui augue.</p>
                                        <a href="#" class="mdc-read-more">Read more</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-right">
                                        <i class="glyph-icon flaticon-molar"></i>
                                    </div>
                                    <div class="entry-content">
                                        <div class="mdc-wrap">
                                        <span class="mdc-number-order">02</span>
                                        <h3 class="entry-title"><a href="#">Dentist</a></h3></div>
                                        <p>Aliquam sit amet porttitor ex, sit amet pellentesque nibh. Praesent viverra dui augue.</p>
                                        <a href="#" class="mdc-read-more">Read more</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-right">
                                        <i class="glyph-icon flaticon-medical-3"></i>
                                    </div>
                                    <div class="entry-content">
                                        <div class="mdc-wrap">
                                        <span class="mdc-number-order">03</span>
                                        <h3 class="entry-title"><a href="#">Pathology</a></h3></div>
                                        <p>Aliquam sit amet porttitor ex, sit amet pellentesque nibh. Praesent viverra dui augue.</p>
                                        <a href="#" class="mdc-read-more">Read more</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area">
    <div class="container">
        <div class="row mdc-custom-row-03 mdc-style-01">
            <div class="col-md-8 col-sm-8 col-xs-12 mdc-custom-left">
                <div class="widget mdc-widget-service-2-home3">
                    <div class="widget-title style-06">
                        <h2 class="title mdc-style-02">Get Started</h2>
                        <p>All services listed below are available from Emory Healthcare, but some pages that describe our offerings in those areas may not be available yet.</p>
                    </div>
                    <div class="widget-content">
                        <div class="row mh-populor">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="icon-magnifier icons"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Find A Doctor</a></h3>
                                        <p>Visit MassGeneral Hospital for Children to find a pediatric provider.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="icon-location-pin icons"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Neonatology</a></h3>
                                        <p>View a list of Massachusetts General Hospital locations in and around the Boston area...</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="icon-user icons"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Children’s Emergency</a></h3>
                                        <p>Use our online payment gateway to make payment to our hospitals.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="icon-present icons"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Surgical Services</a></h3>
                                        <p>Use our online payment gateway to make payment to our hospitals...</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="icon-screen-desktop icons"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Medical Service</a></h3>
                                        <p>Use our online payment gateway to make payment to our hospitals.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-thumb-icon-left">
                                        <i class="icon-bubbles icons"></i>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Affiliated</a></h3>
                                        <p>Request an appointment or second opinion, refer a patient, find a doctor ...</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 mdc-custom-right">
                <div class="widget mdc-widget-time-house">
                    <div class="widget-title style-06">
                        <h2 class="title mdc-style-02">WORKING HOURS</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li>
                                <span class="mdc-date">Monday</span>
                                <span class="mdc-time">8:00 AM –2:30PM</span>
                            </li>
                            <li>
                                <span class="mdc-date">Tuesday</span>
                                <span class="mdc-time">8:00 AM –7:00PM</span>
                            </li>
                            <li>
                                <span class="mdc-date">Wednesday</span>
                                <span class="mdc-time">8:00 AM –7:00PM</span>
                            </li>
                            <li>
                                <span class="mdc-date">Thursday</span>
                                <span class="mdc-time">8:00 AM –7:00PM</span>
                            </li>
                            <li>
                                <span class="mdc-date">Friday  </span>
                                <span class="mdc-time">8:00 AM –7:00PM</span>
                            </li>
                            <li>
                                <span class="mdc-date">Saturday</span>
                                <span class="mdc-time">Closed</span>
                            </li>
                            <li>
                                <span class="mdc-date">Sunday</span>
                                <span class="mdc-time">Closed</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-11">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-tabs-home3">
                    <div class="widget-title style-13">
                        <h2 class="title">why choose our Center?</h2>
                        <p>We offer a comprehensive range of medical and allied services to keep you <br>and your family in the best of health.</p>
                    </div>
                    <div class="widget-content">
                        <div class="mdc-tab style-05">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-home31" data-toggle="tab" aria-expanded="false">Featured</a></li>
                                <li><a href="#tab-home32" data-toggle="tab" aria-expanded="false">Newsroom</a></li>
                                <li><a href="#tab-home33" data-toggle="tab" aria-expanded="false">Parent’s corner</a></li>
                                <li><a href="#tab-home34" data-toggle="tab" aria-expanded="false">Ways to help</a></li>
                                <li><a href="#tab-home35" data-toggle="tab" aria-expanded="false">Video</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-home31">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <img src="images/71.jpg" alt="">
                                        </div>
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="#">Family Medicine</a>
                                            </h3>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae....</p>
                                            <a href="" class="mdc-learn-more">Learn More <i class="ti-arrow-right"></i></a>
                                        </div>
                                    </article>
                                </div>
                                <div class="tab-pane" id="tab-home32">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <img src="images/114.jpg" alt="">
                                        </div>
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="#">Newrooms</a>
                                            </h3>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae....</p>
                                            <a href="" class="mdc-learn-more">Learn More <i class="ti-arrow-right"></i></a>
                                        </div>
                                    </article>
                                </div>
                                <div class="tab-pane" id="tab-home33">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <img src="images/115.jpg" alt="">
                                        </div>
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="#">Parent’s corner</a>
                                            </h3>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae....</p>
                                            <a href="" class="mdc-learn-more">Learn More <i class="ti-arrow-right"></i></a>
                                        </div>
                                    </article>
                                </div>
                                <div class="tab-pane" id="tab-home34">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <img src="images/116.jpg" alt="">
                                        </div>
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="#">Ways to help</a>
                                            </h3>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae....</p>
                                            <a href="" class="mdc-learn-more">Learn More <i class="ti-arrow-right"></i></a>
                                        </div>
                                    </article>
                                </div>
                                <div class="tab-pane" id="tab-home35">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <img src="images/71.jpg" alt="">
                                        </div>
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="#">Video</a>
                                            </h3>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae....</p>
                                            <a href="" class="mdc-learn-more">Learn More <i class="ti-arrow-right"></i></a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-post-home3">
                    <div class="widget-title style-13">
                        <h2 class="title">Latest news & Event</h2>
                        <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste,<br> architecto ullam tenetur quia nemo</p>
                    </div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-content">
                                        <div class="mdc-meta-date-and-comment">
                                            <div>
                                                <span class="date">
                                                    24
                                                </span>
                                                <span class="month">jul</span>
                                            </div>
                                            <span class="icon-bubbles icons comment">3</span>
                                        </div>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/72.jpg" alt="">
                                            </div>
                                            <h3 class="entry-title"><a href="#">Inside the race to diagnose cancer from a simple blood draw</a></h3>
                                            <a href="" class="mdc-learn-more">Learn More <i class="ti-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-content">
                                        <div class="mdc-meta-date-and-comment">
                                            <div>
                                                <span class="date">
                                                    24
                                                </span>
                                                <span class="month">jul</span>
                                            </div>
                                            <span class="icon-bubbles icons comment">3</span>
                                        </div>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/125.jpg" alt="">
                                            </div>
                                            <h3 class="entry-title"><a href="#">Inside the race to diagnose cancer from a simple blood draw</a></h3>
                                            <a href="" class="mdc-learn-more">Learn More <i class="ti-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <article class="entry-item">
                                    <div class="entry-content">
                                        <div class="mdc-meta-date-and-comment">
                                            <div>
                                                <span class="date">
                                                    24
                                                </span>
                                                <span class="month">jul</span>
                                            </div>
                                            <span class="icon-bubbles icons comment">3</span>
                                        </div>
                                        <div class="mdc-wrap">
                                            <div class="entry-thumb">
                                                <img src="images/126.jpg" alt="">
                                            </div>
                                            <h3 class="entry-title"><a href="#">Inside the race to diagnose cancer from a simple blood draw</a></h3>
                                            <a href="" class="mdc-learn-more">Learn More <i class="ti-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area mdc-area-12">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-testimonial-home3">
                    <div class="widget-content">
                        <div class="mdc-controll-owl">
                            <span class="prev"><i class="ti-angle-left"></i></span>
                            <span class="next"><i class="ti-angle-right"></i></span>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 col-xs-12">
                                <div class="owl-carousel" data-speed="1000" data-auto="false">
                                    <blockquote class="mdc-quote style-02">
                                        <h3>Testimonial</h3>
                                        <p>Etiam feugiat libero et sapien. Donec rutrum neque ac congue venenatis lorem ipsum pulvinar leo sollicitudin metus massa non velit. Maecenas elementum. In a nulla. Mauris metus turpis iaculis hendrerit vel pretium non</p>
                                        <a href="#">ANN CLARK</a>
                                        <img src="images/3.png" alt="">
                                    </blockquote>
                                    <blockquote class="mdc-quote style-02">
                                        <h3>Testimonial</h3>
                                        <p>Etiam feugiat libero et sapien. Donec rutrum neque ac congue venenatis lorem ipsum pulvinar leo sollicitudin metus massa non velit. Maecenas elementum. In a nulla. Mauris metus turpis iaculis hendrerit vel pretium non</p>
                                        <a href="#">ANN CLARK</a>
                                        <img src="images/3.png" alt="">
                                    </blockquote>
                                    <blockquote class="mdc-quote style-02">
                                        <h3>Testimonial</h3>
                                        <p>Etiam feugiat libero et sapien. Donec rutrum neque ac congue venenatis lorem ipsum pulvinar leo sollicitudin metus massa non velit. Maecenas elementum. In a nulla. Mauris metus turpis iaculis hendrerit vel pretium non</p>
                                        <a href="#">ANN CLARK</a>
                                        <img src="images/3.png" alt="">
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mdc-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget mdc-widget-service2-home3">
                    <div class="widget-content">
                        <div class="row mdc-custom-5-col mh-populor">
                            <div class="col-md-2 col-xs-4 col-sm-3">
                                <img src="images/4.png" alt="">
                            </div>
                            <div class="col-md-2 col-xs-4 col-sm-3">
                                <img src="images/5.png" alt="">
                            </div>
                            <div class="col-md-2 col-xs-4 col-sm-3">
                                <img src="images/6.png" alt="">
                            </div>
                            <div class="col-md-2 col-xs-4 col-sm-3">
                                <img src="images/7.png" alt="">
                            </div>
                            <div class="col-md-2 col-xs-4 col-sm-3">
                                <img src="images/8.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
